/* 公共的样式 */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}

body{
    background-image: url(../imag/1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
}
/* 导航栏 */
.nav{
    height: 50px;
    background-color: rgba(50, 50, 50 ,0.4);
    color: aliceblue;
/* 使用弹性布局 让里面的元素水平布局 */
    display: flex;
    align-items: center;
}
/* 设置导航栏中的logo */
.nav img{
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-right: 10px;
 /* 设置圆角矩形变成圆形 */
    border-radius: 20px;
}.nav a{
    color: white;
/* 去掉a标签的下划线 */
    text-decoration: none;
    /* 此处使用内边距把多个链接分出距离来 */
    /* 此处使用外边距也行 , 但是内边距更好, 能够扩大点击的范围 */
    padding: 0 10px;

}
.nav .spacer{
    width: 80%;
}
.container{
    width: 1000px;
    margin: 0 auto;

    height: calc(100% - 50px);
    /* background-color: gray; */

    display: flex;
    justify-content: space-between;
}
.container-left{
    height: 100%;
    width: 200px;
}
.container-right{
    height: 100%;
    /* 留出来5px空隙 */
    width: 795px;
/* 加上白的半透明背景 */
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 20px;
/* 当内容超出范围时 自动添加滚动条 */
    overflow: auto;
}

.card{
    background-color: rgba(255, 255, 255 ,0.7);
    border-radius: 10px;
    padding: 30px;
}
/* 设置用户头像 */
.card img{
    width: 140px;
    height: 140px;
    border-radius: 70px;
}
/* 设置用户名 */
.card h3{
    text-align: center;
    padding: 10px;
}
/* 设置GitHub地址 */
.card a{
    text-align: center;
    /* 文字设置成灰色 */
    color: gray;
    text-decoration: none;
/* 需要把a标签转换成块级元素 这样上面得居中操作才有意义 */
    display: block;
    /* 让a标签和下方有间隔 */
    margin-bottom: 10px;

}

.card .counter{
    display: flex;
    padding: 5px;
    justify-content: space-around;
}